.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(33, 163, 196);

  .hi {
    font-size: 28px;
    font-weight: 400;
  }

  .nameWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      height: 2px;
      width: 80px;
      margin: 8px 20px 0 20px;
      background: #fff;
    }

    .name {
      font-size: 50px;
      font-weight: 500;
    }
  }
}
